<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

body {
	text-align: center;
	margin:0;
	padding:0;
	background-repeat: no-repeat;
  	padding-bottom:50px;

  	font-family: 'Open Sans', sans-serif;
  	font-weight: lighter;
  	letter-spacing: 2px;
}


#header{

	max-width: 1170px;
	height:100px;
	margin-left: auto;
	margin-right:auto;

}

#logo {

  padding-top:25px;
  padding-left:10px;
  float:left;
  max-width:300px;
  height:50px;
  text-align:left;

}

#nav {

  padding-top:30px;
  float:right;
  max-width:600px;
  height:50px;
  text-align:right;
}

#nav a {margin-right:30px;
 

   text-decoration:none;
   color:#fff;


}

#banner-holder {

	background-image: url("http://jlouieeee.github.io/images/bluebackground_7.jpg");
    background-size:cover;
    height:auto;
    width:100%;
    padding-bottom:60px;
    text-align:center;


}
#banner-content {width: 1170px; max-width:80%; margin-top: 50px; margin-left:auto; margin-right:auto;}

#banner-content img {max-width:90%;}

#quote {
	text-align:center;
	margin-top:-46px;

}

#main-content {
	width:700px;
	max-width:90%;
	margin-left: auto;
	margin-right: auto;
}

#main-content p, #main-content ul {

	padding-top: 30px;
	text-align: justify;
	font-family: "Proxima Nova";
	letter-spacing: 1px;
	color: #869097;

}





.btn {

   padding: 10px 20px;
   background:white;
   border: 1px solid #869097;
   color: #869097;
   text-decoration:none;	
}

.btn:hover {

	background:#869097;
   border: 1px solid #869097;
   color: #fff;
}






