#header {
	background-color: #000;
	color: #fff;
	padding: 30px 20px 70px;
	text-align: center;

}

h1 {
	font-family: 'Neucha', cursive;
	font-size: 400%;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	letter-spacing: 2px;
	font-size: 100%;
	margin-top:-40px;
}

#nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	letter-spacing: 1px;
	background-color: #fff;
	text-align: center;
	border-bottom: #000 solid thin;
	font-size: 80%;

}

#nav a {
	text-decoration: none;
	color: #000;
	display: inline-block;
	padding: 10px;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

#nav a:hover {
    color: #03acb4;
}

#wrapper {
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
	padding-bottom: 100px;
}

img {
    vertical-align: text-top;
    padding-top: 4px;
}

#buy {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align: justify;
	padding-left: 250px;
	padding-right: 250px;
	letter-spacing: 1px;
	margin-top:-50px;
}


#stores {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	padding-top: 100px;
	padding-left: 500px;
	display: inline-block;
}

#stores h2 {
	font-weight: bold;
	font-size: 130%;
}


#events {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	padding-top: 100px;
	display: inline-block;
	padding-left: 190px;
	padding-bottom: 100px;
}

#events h2 {
	font-weight: bold;
	font-size: 130%;
}


footer {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	background-color: #000;
	color: #fff;
	padding: 30px 100px;
	text-align: center;
}

#icons {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding-bottom: 10px;
}






